@import url(reset.css);

#allcont{
	width:1954px;
	margin:0 auto;
}

#content-header{
	width: 1239px;
	padding-bottom:37px;
	position: absolute;
	margin:37px 350px;
	border-bottom:1px solid white;
	
}

#header_fon{
	width:1900px;
	height:750px;
	position:relative;
	background:url(../image/fon_head.jpg) no-repeat;
}

#header_menu{
	float:right;
}

#header_menu ul li{
	float:left;
	margin-left:54px;
	font-weight:bold;
	font-family:"raleway",arial,sans-serif;
	font-size:13px;
	text-transform: uppercase;
	line-height: 1.2;
	text-decoration: none;
}

a{
	text-decoration:none;
	color:#fff;
}

#head_centertext{
	position:absolute;
	text-align: center;
	width:850px;
	height:120px;
	font-family: "raleway bold",sans-serif;
	padding-left:156px;
	color:#fff;
}

#head_centertext h1{
	font-size: 55px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.092;
	margin-top:157px;
}

#head_centertext p{
	font-size: 20px;
	margin-top:35px;
}

#button_find{
	position:relative;
	background: url(../image/butt_find.png) no-repeat;
	width: 200px;
	height: 46px;
	top:76px;
	left:335px;
	
}

#button_find p{
	font-size: 13px;
	font-family: "Raleway",sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-top:0px;
	padding-top:15px;
}

#feature{
	position:absolute;
	
}
#feature img{
	width: 60px;
	height: 60px;
	position:relative;
	padding-left:120px;
}

#feature p{
	width:296px;
	height:56px;
	position:relative;
	line-height:1.5;
	font-size:14px;
	padding-top:25px;
	padding-bottom:20px;
	text-align:center;
	font-family:raleway,arial,sans-serif;
}

#feature h4{
	padding-top:25px;
	position:relative;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	line-height:1.2;
	text-align:center;
	font-family:raleway,arial,sans-serif;
}

#feature table{
	margin:110px 410px 120px 335px;
}

#feature td{
	padding-left:85px;
	padding-bottom:75px;
}

#background-image_feature{
	background: url(../image/fon_feature.jpg) no-repeat;
	width:1900px;
	height:695px;
	position:absolute;
}

#work{

}
